<figure class="figure m-2">
    <img src="../../../assets/images/poster-01.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Movie name</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b>7.5/10</b></figcaption>
</figure>


<figure class="figure m-2">
    <img src="../../../assets/images/poster-03.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Movie name</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b>7.5/10</b></figcaption>
</figure>


<figure class="figure m-2">
    <img src="../../../assets/images/poster-01.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Movie name</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b>7.5/10</b></figcaption>
</figure>

<figure class="figure m-2">
    <img src="../../../assets/images/poster-03.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Movie name</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b>7.5/10</b></figcaption>
</figure>

<figure class="figure m-2">
    <img src="../../../assets/images/poster-01.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Movie name</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b>7.5/10</b></figcaption>
</figure>

<figure class="figure m-2">
    <img src="../../../assets/images/poster-03.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Movie name</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i> <b>7.5/10</b></figcaption>
</figure>