<figure class="figure m-2">
    <img src="../../../assets/images/poster-01.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">( Role )</figcaption>
</figure>


<figure class="figure m-2">
    <img src="../../../assets/images/poster-03.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">( Role )</figcaption>
</figure>


<figure class="figure m-2">
    <img src="../../../assets/images/poster-01.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">( Role )</figcaption>
</figure>

<figure class="figure m-2">
    <img src="../../../assets/images/poster-03.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">( Role )</figcaption>
</figure>

<figure class="figure m-2">
    <img src="../../../assets/images/poster-01.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">( Role )</figcaption>
</figure>

<figure class="figure m-2">
    <img src="../../../assets/images/poster-03.jpg" class="figure-img img-fluid rounded" style="max-width: 150px;">
    <figcaption class="figure-caption">Actor name</figcaption>
    <figcaption class="figure-caption">( Role )</figcaption>
</figure>