<h1 class="text-warning">Results for {{movieTitle}}</h1>
<hr>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cover</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>
                <img src="../../../assets/images/poster-03.jpg" alt="" width="100px">
            </td>
            <td>Movie Name </td>
            <td>This is a short description foe movie.</td>
            <td>
                <a class="btn btn-warning" href=""> <i class="bi bi-film"></i> Trailer</a>
                <a class="btn btn-primary" href="" routerLink="/details"> <i class="bi bi-eye" ></i> Details</a>
            </td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>
                <img src="../../../assets/images/poster-01.jpg" alt="" width="100px">
            </td>
            <td>Movie Name </td>
            <td>This is a short description foe movie.</td>
            <td>
                <a class="btn btn-warning" href=""> <i class="bi bi-film"></i> Trailer</a>
                <a class="btn btn-primary" href="" routerLink="/details"> <i class="bi bi-eye"></i> Details</a>
            </td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>
                <img src="../../../assets/images/poster-02.jpg" alt="" width="100px">
            </td>
            <td>Movie Name </td>
            <td>This is a short description foe movie.</td>
            <td>
                <a class="btn btn-warning" href=""> <i class="bi bi-film"></i> Trailer</a>
                <a class="btn btn-primary" href="" routerLink="/details" > <i class="bi bi-eye"></i> Details</a>
            </td>
        </tr>

    </tbody>
</table>